
  <%= form_for(@survey) do |f| %>
    <% if @survey.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

        <ul>
        <% @survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <% @questions.each do |question| %>
      <div class="field">
        <h1><%= question.title %></h1>
        <%= f.fields_for :answers do |builder| %>
          <%= render 'answer_fields', f: builder, q: question  %>
        <% end %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit I18n.t('next').upcase, {class: 'btn-submit-answers'} %>
    </div>
  <% end %>
