
<div class="container">

  <header>
    <div class="step">
    	<div class="step-text"><%= t('step') %></div>
    	<div class="step-number">2 <%= t('of') %> 3</div>
    </div>
    <div class="logo">VERIZON</div>
    <div class="language">
      <ul>
      <li><%= language_name(I18n.locale) %>
        <ul>
          <li><%= link_to_unless I18n.locale == :en, "English", locale: :en %></li>
          <li><%= link_to_unless I18n.locale == :es, "Español", locale: :es %></li>
        </ul>
        </li>
      </ul>
    </div>
  </header>

	<div class="form-wrapper">
  	<%= render 'form' %>
  </div>
</div>
